Cython
numpy
requests
flask-login
git+git://github.com/alessiosavi/face_recognition@v1.2.4#egg=face_recognition
redis
Flask_MonitoringDashboard
Flask
tqdm
Werkzeug
olefile
Pillow
py-bcrypt
scikit_learn
pytorch
torchvision